# Python Cache-Dateien ignorieren
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments ignorieren
venv/
.env/

# IDEs und Editoren
.vscode/
.idea/

# Worspace Dateien
*.code-workspace


# Logs und temporäre Dateien
*.log
*.tmp
*.bak
*.txt

# macOS / Windows spezifische Dateien
.DS_Store
Thumbs.db

# lokale "Bedienungsanleitung für VS Tipps/Tricks"
/docs/vs_guide.md
