# Python Cache-Dateien ignorieren
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments ignorieren
venv/
.env/

# IDEs und Editoren
.vscode/
.idea/

# Logs und temporäre Dateien
*.log
*.tmp
*.bak
*.txt

# macOS / Windows spezifische Dateien
.DS_Store
Thumbs.db

docs/vs_guide.md

*.code-workspace